.board {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  background-color: #f9f9f9;
  border: 1px solid #ccc;
}

.whiteboard-canvas {
  touch-action: none;
  width: 100%; 
  max-width: 800px;
  height: calc(800px * (3 / 4));
  border: 1px solid #000;
}
